@{
    ViewData["Title"] = "Home Page";
}
<body background="https://thumbs.dreamstime.com/b/zumbido-infinito-do-verde-animado-do-fundo-66429078.jpg">
<div class="text-center">
    <img src="https://www.cvc.com.br/dicas-de-viagem/wp-content/uploads/2017/12/magic-kingdom-park-1-300x221.jpg"/>
    <p>Disney</p>
    <img src="https://media.staticontent.com/media/pictures/dfda9aee-e472-4434-ac29-6020310a6cba/295x200"/>
    <p>Natal</p>
    <img src="https://media.staticontent.com/media/pictures/97addb06-2c89-4f6f-972b-b3708fb1e29c/295x200"/>
    <p>Santiago</p>
    <img src="https://media.staticontent.com/media/pictures/6a74a5f4-1900-44e9-bd21-2650ca963410/295x200"/>
    <p>Porto de Galinhas</p>
    <img src="https://media.staticontent.com/media/pictures/c2dc2d0b-f4a3-451f-a734-8dafc1b42477/295x200"/>
    <p>Rio de Janeiro</p>
    </body>
</div>
