@model Usuario
@{
    ViewData["Title"] = "Cadastro de Usuário";
}
<h2>Cadastro de Usuário</h2>
<p id="pMensagem">@ViewBag.Mensagem</p>
<form asp-action="Cadastro" method="POST">
    <p>
        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome" />
    </p>
    <p>
        <label asp-for="Login">Login:</label>
        <input asp-for="Login" />
    </p>
    <p>
        <label asp-for="Senha">Senha:</label>
        <input asp-for="Senha" type="password"/>
    </p>
    <p>
        <label asp-for="DataNascimento">Data de nascimento:</label>
        <input asp-for="DataNascimento"/>
    </p>
    <p>
        <input type="submit" value="Cadastrar" />
    </p>
</form>